<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Drip Drop</h1>
    <p>~ Good vibes only ~</p>

    <h2>Links</h2>
    <p><%= locals.b2xVn2 %></p>
    <p><%= locals['9sm5xK'] %></p>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>